<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chicken stock</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const initialData = JSON.parse('{{ initial_data|safe }}');
            const initialSymbol = '{{ initial_symbol }}';

            const dates = initialData.index;
            const closes = initialData.data.map(row => row[3]);

            const trace = {
                x: dates,
                y: closes ,
                type: 'scatter'
            };
            const layout = {
                title: `${initialSymbol} Historical Prices`
            };
            Plotly.newPlot('chart', [trace], layout);

            const balanceElement = document.getElementById('balance');
            const rawBalance = parseFloat(balanceElement.textContent);
            balanceElement.textContent = rawBalance.toFixed(2);
        });
    </script>
    <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/541629fd61.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Teko:wght@300..700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <h1><i class="fa-solid fa-egg fa-sm" ></i> chicken stock</h1>
        </nav>
    </header>
    <div class="container">
        <div class="chart-area">
            <div class="search">
                <form id="load-data-form">
                    <input type="text" id="stock-search" name="symbol" placeholder="Stock Symbol" required>
                    <button class="search-button" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button> 
                </form>
            </div>
            <div class="price">
                <input type="text" id="stock-price" placeholder="Current Price" readonly>
            </div>
            <div id="chart"></div>
        </div>

        <div class="user-tools">
            <div>
                <h4>Balance: <span id="balance">{{ balance }}</span></h4>
            </div>
            <div id="portfolio-value-chart"></div>
            <table id="portfolioTable">
                <thead>
                    <tr>
                        <th>Stock</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for symbol, quantity in portfolio.items() %}
                        <tr data-symbol="{{ symbol }}">
                            <td>{{ symbol }}</td>
                            <td>{{ quantity }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h3>Buy Stock</h3>
            <form id="buy-form">
                <input type="text" id="buy-symbol" name="symbol" placeholder="Stock Symbol" required>
                <input type="number" id="buy-quantity" name="quantity" placeholder="0" required>
                <button type="submit" class="buy-btn"><i class="fa-solid fa-cart-shopping"></i></button>
            </form>
            
            <h3 style="margin-top: 30px;">Sell Stock</h3>
            <form id="sell-form">
                <input type="text" id="sell-symbol" name="symbol" placeholder="Stock Symbol" required>
                <input type="number" id="sell-quantity" name="quantity" placeholder="0" required>
                <button type="submit" class="sell-btn"><i class="fa-solid fa-money-bill-1-wave"></i></button>
            </form>
        </div>

    </div>
</body>
</html>
